<div on="col_k_content" ng-switch>
	<div ng-switch-default ng-if="col_k_content.indexOf('head_')!=0"
		on="col_k_content" ng-switch>
		<div ng-switch-when="pip_patient"
			ng-bind-html="highlight(row.pip_patient, 
      progr_am.viewes.hrm_menu.seek
      )"></div>
		<a ng-switch-when="person_id" href="?person_id={{row.person_id}}">
			{{row.person_id}} </a>
		<div ng-switch-when="birth_date">{{row[col_k] | date : 'shortDate'}}</div>
		<div ng-switch-when="email">{{row[col_k]}}</div>
		<div ng-switch-default>
			{{row[col_k]}} {{progr_am[view.dataName].getColValue(row, col_k)}} <span
				ng-if="!row[col_k]" class="w3-tiny">
				&lt;{{data.data.col_keys[col_k]}}&gt; </span>
		</div>
	</div>
</div>
