<div ng-include="'/f/eh1/info1/test2/f74-head2.html'"></div>
<div class="w3-topbar w3-border-bottom w3-border-blue-gray w3-small">
	<span class="w3-small"> вибір: </span> <span
		ng-include="'/f/eh1/info1/test2/physician_choose_button.html'">
	</span> — <span ng-include="'/f/eh1/info1/test2/physicain_fullname.html'"></span>
</div>

<table>
	<thead>
		<tr class="w3-tiny w3-gray">
			<th style="background: white;"
				ng-include="'/f/eh1/info1/test3/table_menu.html'"></th>
			<th><i class="fa fa-calendar-o" aria-hidden="true"></i></th>
			<th ng-repeat="col_k in icpc2_nakaz74.col_sort" title="{{col_k}}">
				{{icpc2_nakaz74.data.col_keys[col_k]}}</th>
		</tr>
		<tr class="w3-tiny w3-center">
		  <td></td>
			<td class="w3-border"
				ng-repeat="n in ['2','5,6,7,8','3','9','10','11','4','д.1']"
				n1g-repeat="n in ['2','3','4', 'д.1','12','5,6,7,8','10','11','9','11']"
				>
				{{n}}</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in icpc2_nakaz74.data.list" ng-init="row_k=$index"
			class="w3-hover-light-gray">
			<td 
			class="w3-small"
			ng-class="{'am-b':row_k==icpc2_nakaz74.selectedCell.row_k}">{{row_k}}
			</td>
			<td
				title="{{row.created | date : 'longDate'}}/{{row.updated | date : 'short'}}">{{row.created
				| date : "dd.MM"}} <span class="w3-tiny"
				title="{{row.family_name}} {{
              row.first_name}} {{
              row.second_name}}">
					{{row.family_name.substring(0,1)}}{{ row.first_name.substring(0,1)}}{{
					row.second_name.substring(0,1)}} </span>
			</td>
			<td ng-repeat="col_k in icpc2_nakaz74.col_sort"
				class="w3-border-bottom w3-hover-shadow"
				ng-class="{'w3-border':icpc2_nakaz74.isCellSelect(row_k, col_k, row)}"
				ng-click="icpc2_nakaz74.selectCell(row_k, col_k)">

				<div ng-include="'/f/eh1/info1/test3/dropdown_window.html'"></div>

			</td>
		</tr>
	</tbody>
</table>

<!-- TODO: перехід на універсальний viewer/editor таблиці
<div ng-repeat="view in progr_am.viewes">
  <div ng-repeat="tableData in [icpc2_nakaz74]" 
    ng-include="view.ngInclude"></div>
</div>
 -->

<div class="w3-modal" ng-style="dropdown_data.ask_confirm_delete"
	n1g-if="icpc2_nakaz74.selectedCell.row_k>=0">
	<div class="w3-modal-content">
		<div class="w3-container">
			<span ng-click="dropdown_data.ask_confirm_delete={display:'none'}"
				class="w3-button w3-display-topright">&times;</span>
			<p>&nbsp;</p>
			<p>Підтвердіть видаленя</p>
			<p>&nbsp;</p>
			<span class="w3-btn w3-border w3-red"
				title="стерти обраний запис  з форми 74"
				ng-click="dropdown_data.deleteRow()">видалити</span> <span
				ng-click="dropdown_data.ask_confirm_delete={display:'none'}"
				class="w3-display-bottomright"> <span
				class="w3-button w3-border">не видаляти</span>
			</span>
		</div>
	</div>
</div>
