<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/f/img/algoritmed.ico" />
<script src="/webjars/angularjs/1.7.6/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.6/angular-sanitize.min.js"></script>
<script src="/f/algoritmed/compile-algoritmed2.js"></script>
<script src="/f/algoritmed/app_config2.js"></script>
<script src="/f/algoritmed/index.js"></script>

<script th:attr="src=${script}"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/algoritmed.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-container w3-border-right w3-light-gray"
	s1tyle="max-width: 950px; margin-left: 10px;"
	ng-controller="ControllerApp1">
	<div class="w3-center w3-blue-gray w3-small">
		<b>Медична інформаційна система ALGORITMED</b> &nbsp; <a
			title="Налаштунки" class="w3-hover-light-gray w3-hover-shadow"
			href="/v/settings" ng-if="principal.user"><i
			class="fa fa-caret-down" aria-hidden="true"></i> </a>
	</div>
	<div class="w3-row-padding w3-white">
		<div class="w3-col m5">
			<div class="w3-right">
				<a href="/v/info3"> Госпітальна інформаційна система </a> <span
					class="w3-small"> ... для лікарів </span>
			</div>
		</div>
		<div class="w3-col m2 w3-center">
			<i class="fa fa-exchange"></i>
		</div>
		<div class="w3-col m5">
			<a href="/v/pis-info">Інформаційна система пацієнтів</a>
		</div>
	</div>
	<div class="w3-row-padding">
		<div class="w3-quarter">
			<p>
				Login <span ng-include="'/f/algoritmed/lib/link-to-login.html'"></span>
			</p>

			{{page.getPrincipalRole().name}}: <b>
				{{principal.user.family_name}}
				{{principal.user.first_name.substr(0,1)}}.{{principal.user.second_name.substr(0,1)}}.
			</b>
			<div ng-if="page.getPrincipalRole()"
				ng-include="'/f/eh2/index/index-user-part.html'"></div>
		</div>
		<div class="w3-half" ng-include="'/f/eh2/index/middle-index.html'">
		</div>
		<div class="w3-quarter w13-border-left w13-border-right w3-small">
			<div ng-include="'/f/ehealth-declaration/mis-list.html'"></div>
			<img alt="eHealth" src="https://portal.ehealth.gov.ua/images/logo.svg" width="80px;"
			class=""
			>
		</div>
	</div>

</body>
</html>