<div ng-include="'/f/eh1/info1/test2/f74-head2.html'"></div>
<div>
	вибір року і місяця | вибір: 
	<button class="w3-btn">ЛЗ</button>
	 |
	<button ng-click="modal.physicianChoose.display={display:'block'}" class="w3-btn"
	ng-class="{'w3-light-gray':seekParam.physician}"
	>
		лікаря</button>
	| вибір випадки або діагнози
	<div class="w3-small w3-border">{{seekParam.physicianData.family_name}}
		{{seekParam.physicianData.first_name}}
		{{seekParam.physicianData.second_name}}</div>
	<div ng-style="modal.physicianChoose.display" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span ng-click="modal.physicianChoose.display={}"
					class="w3-button w3-display-topright">&times;</span>
				<p class="am-b">Вибір лікаря</p>
				<div ng-repeat="p in modal.physicianChoose.data.list"
					class="w3-hover-light-gray">
					<a href="?physician={{p.person_id}}">
          {{p.family_name}}
          {{p.first_name}} {{p.second_name}}
					</a></div>
			</div>
		</div>
	</div>

	<div>
		рік: <select>
			<option value="{{year}}" ng-repeat="year in [2018,2017]"
				ng-click="seekParam.setYear(year)"
				ng-selected="year==seekParam.year">{{year}}</option>
		</select> місяць:
		<button class="w3-btn" ng-class="{'w3-gray':month==seekParam.month}"
			ng-click="seekParam.setMonth(month)"
			ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12]">{{month}}</button>
		| <a class="w3-btn w3-border" title="Загрузити excel"
			ng-href="/r/excel1?data={{reportToParam()}}"><i
			class="fa fa-file-excel-o" aria-hidden="true"></i></a> <a
			href="/v/icpc2_test2_report_print"> <i class="fa fa-print"
			aria-hidden="true"></i>
		</a>

	</div>
	<a href="{{seekParam.getURL()}}" class="w3-btn w3-border"> Пошук </a>
	{{seekParam.year}}-{{seekParam.month}}
</div>

<table>
	<tr class="w3-small w3-gray">
		<th ng-repeat="(k,v) in table.structure">{{v.name}}</th>
	</tr>
	<tr class="w3-small w3-tiny">
    <td
    class="w3-border w3-center"
    ng-repeat="(k,v) in table.structure">{{v._039o}}</td>
  </tr>
	<tr ng-repeat="row in table.data">
		<td class="w3-border-bottom" ng-repeat="(k,v) in table.structure"
			ng-switch on="k">
			<div title="{{row.year_day}}" ng-switch-when="createdDay">{{dayOfYearDate(2018, row[k])|date:'mediumDate'}}</div>
			<div class="w3-center" ng-switch-when="home_9776|village_10900|and_age017|and_age017_village"
			 ng-switch-when-separator="|"
			>{{row[k][k]}}</div>
			<div class="w3-center" ng-switch-default>{{row[k]}}</div>
		</td>
	</tr>
	<tr ng-repeat="row in table.data2"
	style="font-weight: bold;"
	>
    <td class="w3-border-bottom" ng-repeat="(k,v) in table.structure"
      ng-switch on="k">
      <div title="{{row.year_day}}" ng-switch-when="createdDay">
				Сумма: <span ng-if="request.parameters.month">
					{{request.parameters.month}} Місяць </span> <span
					ng-if="!request.parameters.month"> {{row[k]}} рік </span>
			</div>
			<div class="w3-center" ng-switch-when="home_9776|village_10900|and_age017|and_age017_village"
			 ng-switch-when-separator="|"
			>{{row[k][k]}}</div>
      <div class="w3-center" ng-switch-default>{{row[k]}}</div>
    </td>
  </tr>
</table>

