<div>
	<div ng-include="'/f/am-dev/1c-db-tables2/page.head.html'"></div>
	<div class="w3-row-padding w3-border-bottom">
		<div class="w3-col m2 l2 s2 ">
			<div ng-repeat="oo in [folders]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m4 l4 s4">
			<div ng-repeat="oo in [tables]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m6 l6 s6">
			<div ng-repeat="oo in [create_tables]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
	</div>
	123 123
	<div class="w3-code">{{tables}}</div>
</div>