<div>
	<div ng-include="'/f/am-dev/1c-db-tables2/page.head.html'"></div>
	<div class="w3-tiny w3-right">
	<a href="/f/c4/dm/doc_manager.html">
	менеджер документів
	</a>
	</div>
	<div class="w3-row-padding w3-border-bottom">
		<div class="w3-col m2 l2 s2 ">
			<div ng-repeat="oo in [folders]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m4 l4 s4">
			<div ng-repeat="oo in [tables]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m6 l6 s6">
			<div ng-repeat="oo in [create_tables]" class="w3-card"
				style="height: 250px; overflow: auto;"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		{{create_tables.col_keys}}
		</div>
	</div>
	<div class="w3-row-padding w3-border-bottom">
		<div class="w3-col m6 l6 s6">
			<div ng-if="17==tables.list[0].doctype||6==tables.list[0].doctype">
				<a
					href="/f/c4/j2c_json_editor.html?jsonId={{request.parameters.tableId}}">документ</a>:
				{{tables.list[0].value}}
				<div ng-repeat="oo in [doc_data]" class="w3-card"
					ng-include="'/f/am-dev/1c-db-tables2/doc_17.html'"></div>
			</div>
			<div ng-if="1==tables.list[0].doctype">
				<a
					href="/f/c4/j2c_table_editor.html?tableId={{request.parameters.tableId}}">данні
					таблиці: </a>
				<div ng-repeat="oo in [table_data]" class="w3-card"
					ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
			</div>
		</div>
		<div class="w3-col m6 l6 s6">
			config
			<div class="w3-card"
				ng-if="
		request.parameters.row_id
		&&
		request.parameters.tableId==124
		"
				ng-include="'/f/am-dev/1c-db-tables2/lab-view1.html'"></div>
				<div
				ng-include="'/f/am-dev/1c-db-tables2/config_j2c_sql.html'"
				></div>
		</div>
	</div>

	<div ng-style="pageVar.ngStyleModal" class="w3-modal">
		<div class="w3-modal-content"
			ng-include="'/f/am-dev/1c-db-tables2/tableJ2C_edit_row.html'">
		</div>
	</div>

</div>