<div>
	<div ng-include="'/f/am-dev/1c-db-tables2/page.head.html'"></div>
	<div class="w3-row-padding w3-border-bottom">
		<div class="w3-col m2 l2 s2 ">
			<div ng-repeat="oo in [folders]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m4 l4 s4">
			<div ng-repeat="oo in [tables]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
		<div class="w3-col m6 l6 s6">
			<div ng-repeat="oo in [create_tables]" class="w3-card"
				ng-include="'/f/am-dev/1c-db-tables2/tableJ2C.html'"></div>
		</div>
	</div>

	<div ng-style="pageVar.ngStyleModal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span ng-click="pageVar.ngStyleModal={display:'none'}"
					class="w3-button w3-display-topright">&times;</span>
				<p ng-if="!pageVar.rowKey">Не вибрані дані для редагування.</p>
				<div ng-if="pageVar.rowKey">
					<button class="w3-border" ng-click="pageVar.o.saveUpdate()">OK</button>
					<button class="w3-border"
						ng-click="pageVar.ngStyleModal={display:'none'}">Cancel</button>
					<div>
						<span ng-if="folders.selectedObj"> Папка:
							{{folders.selectedObj.folderName}} </span>
					</div>
					<div ng-repeat="(ck,cv) in pageVar.o.col_keys">
						<b class="w3-small">{{cv}}:</b> <span
							ng-if="pageVar.o.no_edit.indexOf(ck)>=0">
							{{pageVar.rowObj[ck]}} </span>
						<div>
							<input style="width: 100%;" ng-model="pageVar.rowObj[ck]"
								ng-if="pageVar.o.no_edit.indexOf(ck)<0" class="w3-border">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 
	<div class="w3-code">{{tables}}</div>
 -->
</div>