<div>
	<div class="w3-dropdown-hover w3-white w3-hover-shadow">
		<span class="w3-tiny ">☰ &nbsp; </span> {{oo.tableRoot.value}}
		<div class="w3-dropdown-content w3-bar-block w3-border w3-tiny"
			style="left: -5px">
			<a href="#" class="w3-bar-item w3-button"
				ng-click="oo.openEditElement(oo.tableRoot)"><i
				class="fa fa-pencil-square-o"></i> Змінити</a> <a href="#"
				ng-click="oo.addElement(oo.tableRoot.docRoot)"
				class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Додати
				запис</a> <a href="#" ng-click="oo.minusElement(o)"
				class="w3-bar-item w3-button"><i class="fa fa-minus"></i>
				Видалити запис</a>
		</div>
	</div>
	<div ng-repeat="elParent in [oo.tableRoot.docRoot]"
		ng-include="'/f/am-dev/1c-db-tables2/doc_element.html'"></div>
	<!-- 
	<div ng-repeat="el in oo.tableRoot.docRoot.children"
		ng-include="'/f/am-dev/1c-db-tables2/doc_element.html'"></div>
	<div class="w3-code">{{oo}}</div>
	 -->
	<div data-ng-style="changeElement.ngStyleModal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span data-ng-click="changeElement.ngStyleModal={display:'none'}"
					class="w3-button w3-display-topright">&times;</span>

				<div class="w3-row-padding w3-border-bottom">
					<div class="w3-col m4 l4 s4 ">
						<button class="w3-border" data-ng-click="changeElement.saveUpdate()">OK
							запис</button>
						<button class="w3-border"
							ng-click="changeElement.ngStyleModal={display:'none'}">Cancel</button>
					</div>
					<div class="w3-col m8 l8 s8 ">
						<div data-ng-include="pageVar.o.ngIncludes.modalBottonPanel"></div>
					</div>
				</div>
				Назва: <input data-ng-model="changeElement.name"
					class="w3-border w13-right">
				<div>
					JSON Element:
					<div>
						<textarea rows="10" class="am-width-100pr ng-binding ng-scope"
							data-ng-model="changeElement.docbody"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>