<div style="max-width: 400px; width: 300px">
	<div ng-if="!editRow">
		<div ng-include="'/f/eh2/calendar/calendar3_dialog_head.html'"
			ng-init="head='Вибрати пацієнта із записаних на цей день'"></div>
		&nbsp;
		<div
			ng-repeat="row in icpc2_nakaz74.mapDate
      [(basicCalendar.gui.getWorkTimeStampWeekDay(wd)|date:'dd.MM.yy')]
      .hours[h]"
			ng-click="progr_am.appointmentDialog.open(row);"
			class="w3-hover-shadow"
			ng-class="{
      'am-b':progr_am.fn.isEditRow(row)
      }">
			<span class="w3-tiny"> {{row.created|date:'hh:mm'}} </span>
			{{row.col_10766.split('тел.')[0]}}
		</div>
		&nbsp;
	</div>
	<div ng-if="editRow">
	<div 
	ng-include="'/f/eh2/calendar/calendar3_dialog_head.html'"
      ng-init="head='Перенести запис на?'"></div>
		
		<div class="w3-container">
			<div class="w3-text-red w3-tiny"
				ng-if="basicCalendar.gui.isWorkTimeStampBeforeToday()">Обрана
				дата знаходиться в минулому.</div>
			&nbsp;
			<div class="w3-card">
				{{basicCalendar.gui.workTimeStamp|date:'fullDate'}}
				<div>{{basicCalendar.gui.workTimeStamp|date:'shortTime'}}</div>
				<div class="w13-border am-b">{{editRow.col_10766}}</div>
			</div>
			&nbsp;
			<div>
				<button ng-click="progr_am.fn.setAppointment()" class="w3-border">ОК</button>
				<button ng-click="basicCalendar.gui.selectedCell.selectedCellDialogClose=true" class="w3-border">Закрити</button>
			</div>
		</div>
	</div>
</div>
