<div on="basicCalendar.gui.calendarViewPart.item" ng-switch>
	<div ng-switch-when="week" class="w3-tiny">
		<div
			ng-repeat="row in icpc2_nakaz74.mapDate
      [(basicCalendar.gui.getWorkTimeStampWeekDay(wd)|date:'dd.MM.yy')]
      .hours[h]"
			ng-click="
			basicCalendar.edit_dialog.open_record_dialog(row, icpc2_nakaz74);"
			class="w3-hover-shadow"
			ng-class="{
      'am-b':basicCalendar.record.isEditRecord(row, icpc2_nakaz74)
      }">
			<a href="#" 
			>
				{{row.created|date:'HH:mm'}} {{row.col_10766.split('тел.')[0]}} </a>
		</div>
	</div>
	<div ng-switch-when="month">
		{{icpc2_nakaz74.mapDate[(basicCalendar.gui.dayOfMonthOfWeekMonth(w,d)|date:'dd.MM.yy')].list.length}}
	</div>
</div>
