<div on="col_k_content" ng-switch>
	<div ng-switch-when="physician">{{row.last_name}}
		{{row.first_name}} {{row.second_name}}</div>
	<div ng-switch-when="pip_physician">
		<span
			ng-repeat="n_key in ['last_name','first_name','second_name']"
			ng-init="n=row[n_key]">{{n.substring(0,1)}}</span>
	</div>
	<div ng-switch-when="visit">
		<a href="?row_id={{row.row_id}}"> <span class="w3-small">
				{{row.created|date:'dd.MM'}} </span> {{row.created|date:'HH:mm'}}
		</a>
	</div>
	<div ng-switch-default ng-if="col_k_content.indexOf('head_')!=0"
		on="col_k_content" ng-switch>{{row[col_k_content]}}</div>
</div>