<div>
	<div class="w3-blue-gray w3-card-4 w3-center am-b w3-display-container">
		<span class="w3-display-topleft " ng-if="oToEdit"> &nbsp; <span
			ng-click="progr_am.fn.clear_oToEdit()" class="w3-hover-light-gray">
				<i class="fa fa-arrow-up"></i>
		</span>
		</span> <span ng-if="oToEdit.k*1!=oToEdit.k">
			{{progr_am.fn.keyTranslate(oToEdit.k)}}</span> <span
			ng-if="oToEdit.k*1==oToEdit.k">
			{{progr_am.fn.keyTranslate(progr_am.fn.oToEdit_k_parent())}} :
			{{1+oToEdit.k}} </span>
	</div>
	<div ng-switch on="oToEdit.editFormType">
		<div ng-switch-when="isGroupToEdit">
			<div ng-repeat="(k,v) in oToEdit.o" 
				ng-click="progr_am.fn.openObjectToEdit(v,oToEdit.k_parent+'|'+k,k)"
				class="w3-border-bottom w3-hover-shadow">
				<a href="#" class="w3-btn"> {{progr_am.fn.keyTranslate(k)}}</a>
			</div>
			   </div>
		<div ng-switch-when="isInclude">
			<div ng-include="'/f/eh1/lib/objectToEdit/'+oToEdit.k+'.html'"></div>
		</div>
		<div ng-switch-when="isArray">
			<div ng-repeat="(k,v) in oToEdit.o"
				class="w3-border-bottom w3-hover-shadow w3-display-container"
				ng-click="oToEdit.selectedItem = k"
				ng-class="{'w3-rightbar':oToEdit.selectedItem == k}">
				{{selectedItem}} <a href="#" class="w3-btn "
					ng-click="progr_am.fn.openObjectToEdit(v,oToEdit.k_parent+'|'+k,k)">{{1+k}}</a>
				<div ng-if="oToEdit.selectedItem == k" class="w3-display-topright">
					<a href="#" ng-click="progr_am.fn.removeFromList()" class="w3-btn "
						title="removeFromList">-</a> <a href="#"
						ng-click="progr_am.fn.firstInList(k)" class="w3-btn "
						ng-class="{'w3-disabled':k==0}" title="firstInList"> <i
						class="fa fa-arrows-v" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="w3-border-bottom w3-hover-shadow">
				<a href="#" ng-click="progr_am.fn.addToList()" class="w3-btn ">+</a>
			</div>
		</div>
		<div ng-switch-default>
			<div ng-repeat="(k,v) in oToEdit.o" ng-switch on="k">
				<div ng-switch-when="birth_date">
					<b class="w3-tiny" title="{{k}}">
						{{progr_am.fn.keyTranslate(k)}} </b> 
					{{oToEdit.support['d_'+k]|date:'mediumDate'}}
					<input
					style="width: 100%;"
						ng-model="oToEdit.support[k]"
						ng-blur="progr_am.fn.v.validator_date(k,oToEdit)"
						placeholder="дд-мм-рррр дата народженя" class="w3-border">
					<div class="w3-red w3-small" ng-if="oToEdit.error[k]">
						{{oToEdit.error[k]}}</div>
				</div>
				<div ng-switch-default ng-if="!v.isObject()">
					<b class="w3-tiny" title="{{k}}">
						{{progr_am.fn.keyTranslate(k)}} </b> <input
						ng-if="!eh_dictionaries.getValues(k, oToEdit.k_parent)"
						style="width: 100%;" ng-if="!v.isObject()"
						ng-model="oToEdit.dataObj[k]" class="w3-border"> <select
						style="width: 100%;" ng-model="oToEdit.dataObj[k]"
						class="w3-border"
						ng-if="eh_dictionaries.getValues(k, oToEdit.k_parent)">
						<option
							ng-repeat="(k1,v1) in eh_dictionaries.getValues(k, oToEdit.k_parent)"
							value="{{k1}}">{{v1}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div ng-if="!oToEdit">
	<div ng-repeat="(k,v) in data" ng-init="k_parent=k_parent+'|'+k"
	ng-if="v.isObject()"
	>
		<div ng-click="progr_am.fn.openObjectToEdit(v,k_parent,k)"
			class="w3-hover-shadow w3-hover-text-gray">{{progr_am.fn.keyTranslate(k)}}</div>
		<ul class="w3-ul">
			<li class="w3-hover-shadow" ng-repeat="(k1,v1) in v"
				ng-init="k_parent=k_parent+'|'+k1" ng-if="v1.isObject()">
				<div ng-click="progr_am.fn.openObjectToEdit(v1,k_parent,k1)"
				title="{{k_parent+'.'+k1}}"
					class="w3-hover-text-gray">
					{{progr_am.fn.keyTranslate(k1)}}</div>
				<ul class="w3-ul">
					<li class="w3-hover-shadow" ng-repeat="(k2,v2) in v1"
						ng-init="k_parent=k_parent+'|'+k2" ng-if="v2.isObject()">
						<div ng-click="progr_am.fn.openObjectToEdit(v2,k_parent,k2)"
						title="{{k_parent+'.'+k2}}"
							class="w3-hover-text-gray">
							{{progr_am.fn.keyTranslate(k2)}}</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
