<div class="w3-dropdown-click">
	<a href="#" class="am-j2c"
		ng-keyup="keys_use.keyUp($event, view.dataName)"> {{col_k}}
		<div ng-include="data.include_cols" on="col_k" ng-switch></div>
	</a>

	<div class="w3-dropdown-content w3-border w3-card-4"
		ng-style="dropdown_data.ngStyle(col_k)"
		ng-if="progr_am[view.dataName].isCellSelect(row_k, col_k, row)"
		ng-class="{'w3-show':progr_am[view.dataName].isCellSelect(row_k, col_k, row)}"
		on="col_k" ng-switch>

		<div class="w3-tiny w3-gray" title=" — {{col_k}}">
			{{icpc2_nakaz74.data.col_keys[col_k]}}</div>
		<i ng-click="progr_am[view.dataName].closeDropdown()"
			class="fa fa-window-close-o w3-display-topright w3-hover-shadow"
			aria-hidden="true"></i>
	</div>