<div am-obj="scopeObj" ng-repeat="o in [scopeObj]">
	<div class="w3-card">
		<table class="w13-table w3-hoverable" style="w1idth: 100%">
			<thead>
				<tr class="w3-tiny w3-gray">
					<th title="{{k}}" ng-repeat="(k,v) in icpc2_patient.col_keys">
						{{v}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="patient in icpc2_patient.list">
					<td ng-repeat="(k,v) in icpc2_patient.col_keys"
						ng-click="programRun.icpc2_patient.edit(patient)">
						{{patient[k]}}</td>
					<td ng-if="programRun.icpc2_patient.editObj==patient"><span
						class="w3-btn"
						title="Записати пацієнта в таблицю ICPC2 наказ 74"
						ng-click="programRun.icpc2_patient.addICPC2(patient)"> +
					</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="programRun.icpc2_patient.editObj" class="w3-card">
		<span class="w3-btn w3-border"
			ng-click="programRun.icpc2_patient.minus_patient()">-</span>
		<div ng-repeat="(k,v) in icpc2_patient.col_keys">
			<b class="w3-small"> {{v}}:</b> 
			<span ng-if="'col_10823'==k">
				<input ng-model="programRun.icpc2_patient.editObj.col_10823Date.d"
				type="number" style="width: 55px" min=1 max=31
				ng-blur="programRun.icpc2_patient.blurDate(k)"
				>-<input
				ng-model="programRun.icpc2_patient.editObj.col_10823Date.m"
				type="number" style="width: 55px" min=1 max=12
				ng-blur="programRun.icpc2_patient.blurDate(k)"
>-<input
				ng-model="programRun.icpc2_patient.editObj.col_10823Date.y"
				type="number" style="width: 75px" min=1900
				ng-blur="programRun.icpc2_patient.blurDate(k)"
>
				{{programRun.icpc2_patient.editObj.col_10823|date:'fullDate'}}
			</span> {{k}} <span ng-if="'col_10823'!=k"> <input
				ng-blur="programRun.icpc2_patient.blur(k)"
				ng-model="programRun.icpc2_patient.editObj[k]" />
			</span>
		</div>
	</div>
</div>
