<div ng-controller="ControllerApp1">
<a class="w3-hover-light-gray" title="" href="/v/info"><i class="fa fa-arrow-up"></i></a>
	<a class="w3-hover-light-gray" title="" href="/"> <i
		class="fa fa-home"></i></a>
		:// icpc2_test

<span> <b class="w3-small">форма 74</b>
    : <a href="/v/icpc2_test2"> введеня даних</a> | <a
    href="/v/icpc2_test_report"> звіт </a>
  </span>

	<div>
		{{programRun.icpc2_nakaz74.messages.tableName}} <span
			class="w3-btn w3-border"
			ng-click="programRun.icpc2_nakaz74.add_row()">+</span> доктор: <select
			ng-model="f74_physician_id">
			<option ng-repeat="(k,v) in msp_employee" value="{{k}}">
				{{v.family_name}}</option>
		</select> <span title="{{f74_physician_id}}">
			{{msp_employee[f74_physician_id].family_name}} </span>
	</div>
	<div amd-run="programRun.icpc2_nakaz74"></div>
	<div>
		Пацієнти <input ng-model="seekIcpc2Patient"
			placeholder="знайти пацієнта" class="w3-border am-width-100pr" /> <span
			class="w3-btn w3-border"
			ng-click="programRun.icpc2_patient.add_patient()">+</span>
			<span
			class="w3-tiny w3-red"
ng-if="programRun.icpc2_nakaz74.error"
			>
{{programRun.icpc2_nakaz74.error}}
			</span>
	</div>
	<div class="w3-card">
		<div amd-run="programRun.icpc2_patient"></div>
	</div>

	<div>
		ICPC2 пошук <input ng-model="seekIcpc2" placeholder="знайти ICPC2"
			class="w3-border am-width-100pr" /> <a href="#"
			ng-class="{'w3-gray':programRun.icpc2_list.seekInIcpc2Part=='code'}"
			ng-click="programRun.icpc2_list.setSeek_icpc2('code')"> код </a> | <a
			ng-class="{'w3-gray':programRun.icpc2_list.seekInIcpc2Part=='process'}"
			href="#" ng-click="programRun.icpc2_list.setSeek_icpc2('process')">
			процес </a>
	</div>
	<div class="w3-card" style="height: 100px; overflow: auto;">
		<div amd-run="programRun.icpc2_list"></div>
	</div>

	<div class="w3-border-top">
		ICD10 <input ng-model="seekIcd10" placeholder="знайти МКХ10"
			class="w3-border am-width-100pr" /> <span class="w3-tiny">
			режим1 | режим2 </span>
		<div class="w3-card" style="height: 210px; overflow: auto;">
			<div amd-run="programRun.icd10"></div>
		</div>
	</div>

</div>
