<div am-obj="scopeObj" ng-repeat="o in [scopeObj]">
	<div class="w3-card">
		<table class="w13-table w3-hoverable" style="w1idth: 100%">
			<thead>
				<tr class="w3-tiny w3-gray">
					<th><i class="fa fa-calendar-o" aria-hidden="true"></i></th>
					<th title="{{k}}" ng-repeat="(k,v) in icpc2_nakaz74.col_keys">
						{{v}}</th>
				</tr>
			</thead>
			<tbody>
				<tr style="position: relative;" ng-repeat="icpc2 in o.list"
					ng-click="programRun.icpc2_nakaz74.edit(icpc2)"
					ng-class="{'w3-light-gray':programRun.icpc2_nakaz74.editObj==icpc2}">
					<td
						title="{{icpc2.created | date : 'longDate'}}/{{icpc2.updated | date : 'short'}}">
						{{icpc2.created | date : "dd.MM"}}</td>
					<td title="{{k}}" ng-repeat="(k,v) in icpc2_nakaz74.col_keys"
						ng-init="k1=1">{{icpc2[k]}}:
						{{programRun.icpc2_nakaz74.colValue(k, icpc2)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="programRun.icpc2_nakaz74.editObj"
	 class="w3-card"
	>
	<span class="w3-btn w3-border"
      ng-click="programRun.icpc2_nakaz74.minus_row()">-</span>

		<div class="w3-row w3-border">
			<div class="w3-third w3-container">
				<div ng-repeat="k in ['col_9775']"
					ng-init="v=icpc2_nakaz74.col_keys[k];values=programRun.icpc2_nakaz74.colValues(k, icpc2)">
					<div>
						<b class="w3-small"> {{v}} </b>
					</div>
					<select size="{{values.objKeys().length+1}}"
						ng-click="programRun.icpc2_nakaz74.click(k)"
						ng-model="programRun.icpc2_nakaz74.editObj[k]">
						<option
							ng-class="{'w3-light-gray':programRun.icpc2_nakaz74.editObj[k]==k1}"
							ng-repeat="(k1,v1) in programRun.icpc2_nakaz74.colValues(k, icpc2)"
							value="{{k1}}">{{v1}}</option>
					</select>
				</div>
			</div>
			<div class="w3-third w3-container">
				<div ng-repeat="k in ['col_9776']"
					ng-init="v=icpc2_nakaz74.col_keys[k];values=programRun.icpc2_nakaz74.colValues(k, icpc2)">
					<div>
						<b class="w3-small"> {{v}} </b>
					</div>
					<select size="{{values.objKeys().length+1}}"
						ng-click="programRun.icpc2_nakaz74.click(k)"
						ng-model="programRun.icpc2_nakaz74.editObj[k]">
						<option
							ng-class="{'w3-light-gray':programRun.icpc2_nakaz74.editObj[k]==k1}"
							ng-repeat="(k1,v1) in programRun.icpc2_nakaz74.colValues(k, icpc2)"
							value="{{k1}}">{{v1}}</option>
					</select>
				</div>
			</div>
			<div class="w3-third w3-container">
				<div ng-repeat="k in ['col_9777']"
					ng-init="v=icpc2_nakaz74.col_keys[k];values=programRun.icpc2_nakaz74.colValues(k, icpc2)">
					<div>
						<b class="w3-small"> {{v}} </b>
					</div>
					<select size="{{values.objKeys().length+1}}"
						ng-click="programRun.icpc2_nakaz74.click(k)"
						ng-model="programRun.icpc2_nakaz74.editObj[k]">
						<option
							ng-class="{'w3-light-gray':programRun.icpc2_nakaz74.editObj[k]==k1}"
							ng-repeat="(k1,v1) in programRun.icpc2_nakaz74.colValues(k, icpc2)"
							value="{{k1}}">{{v1}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
