<div class="w3-card" ng-style="progr_am.fn.ngStyle('j2c_table')">
	<table class="w13-table">
		<thead>
			<tr class="w3-tiny w3-gray">
				<th style="background: white;"
					ng-include="'/f/eh2/table_menu.html'">
					</th>
				<th ng-repeat="col_k in data.col_sort" title="{{col_k}}"
					ng-init="col_k_content='head_'+col_k">
					<div ng-include="
              data.include_cols" on="head_col_k"
						ng-switch></div> {{data.data.col_keys[col_k]}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in data.data.list" 
			ng-init="row_k=$index
			"
				class="w3-hover-light-gray">
				<td class="w3-small" 
				ng-class="{
				'am-b':row_k==progr_am[view.dataName].selectedCell.row_k,
				}">{{row_k}}
				</td>
				<td ng-repeat="col_k in data.col_sort" ng-init="col_k_content=col_k"
					ng-click="progr_am[view.dataName].selectCell(row_k, col_k)"
					class="w3-border-bottom w3-hover-shadow"
					ng-class="{
					'w3-border':progr_am[view.dataName].isCellSelect(row_k, col_k, row),
					'w3-topbar w3-bottombar':progr_am[view.dataName].isEditRow(row),
					'w3-leftbar':0==$index && progr_am[view.dataName].isEditRow(row),
					 'w3-border-left':(0==$index && !progr_am[view.dataName].isEditRow(row)),
					}">

					<div ng-include="include.j2c_table_content"></div>

				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="w3-modal"
	ng-style="progr_am[view.dataName].clickToSave.ask_confirm_delete">
	<div class="w3-modal-content">
		<div class="w3-container">
			<span
				ng-click="progr_am[view.dataName].ask_confirm_delete={display:'none'}"
				class="w3-button w3-display-topright">&times;</span>
			<p>&nbsp;</p>
			<p>Підтвердіть видаленя запису:</p>
			<div class="w3-card">
				<b> Пацієнт: </b>
				{{data.data.list[progr_am[view.dataName].selectedCell.row_k].col_10766}}
				<div>
					{{data.data.list[progr_am[view.dataName].selectedCell.row_k].created
					| date : 'hh:mm'}}</div>
				<div>
					{{data.data.list[progr_am[view.dataName].selectedCell.row_k].created
					| date : 'longDate' }}</div>
				<b> Лікар: </b>
				{{data.data.list[progr_am[view.dataName].selectedCell.row_k].family_name}}
				{{data.data.list[progr_am[view.dataName].selectedCell.row_k].first_name}}
				{{data.data.list[progr_am[view.dataName].selectedCell.row_k].second_name}}
			</div>
			&nbsp;
			<div class="w3-red"
				ng-if="!progr_am[view.dataName].isRegistryDeleteAllowed()">
				Запис має дані внесені лікарем. Видаленя запису регістратором
				недозволено.</div>
			<p>&nbsp;</p>
			<span class="w3-btn w3-border w3-red"
				title="стерти обраний запис  з форми 74"
				ng-click="progr_am[view.dataName].clickToSave.deleteRow()">видалити</span>
			<span
				ng-click="progr_am[view.dataName].clickToSave.ask_confirm_delete={display:'none'}"
				class="w3-display-bottomright"> <span
				class="w3-button w3-border">не видаляти</span>
			</span>
		</div>
	</div>
</div>
