<div class="w3-card" ng-style="progr_am.fn.ngStyle('j2c_table')">
	<table class="w13-table">
		<thead>
			<tr class="w3-tiny w3-gray">
				<th style="background: white;"
					ng-include="'/f/eh1/lib/table_menu.html'"></th>
				<th ng-repeat="col_k in data.col_sort" title="{{col_k}}"
					ng-init="head_col_k='head_'+col_k">
					<div ng-include="
              data.include_cols" on="head_col_k"
						ng-switch></div> {{data.data.col_keys[col_k]}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in data.data.list" ng-init="row_k=$index"
				class="w3-hover-light-gray">
				<td class="w3-small" 
				ng-class="{
				'w13-gray am-b':progr_am[view.dataName].isEditRow(row),
				}">{{row_k}}
				</td>
				<td ng-repeat="col_k in data.col_sort"
					ng-click="progr_am[view.dataName].selectCell(row_k, col_k)"
					class="w3-border-bottom w3-hover-shadow"
					ng-class="{
					'w3-border':progr_am[view.dataName].isCellSelect(row_k, col_k, row),
					'w3-topbar w3-bottombar':progr_am[view.dataName].isEditRow(row),
					'w3-leftbar':0==$index && progr_am[view.dataName].isEditRow(row),
					 'w3-border-left':(0==$index && !progr_am[view.dataName].isEditRow(row)),
					}">
					<div ng-include="include.j2c_table_content"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

